@{
    ViewData["Title"] = "Not Found";
}

<div class="text-center">
    <h1 style="font-size:55px!important;" class="display-4">404</h1>
    <p>Sahifa topilmadi! Adashib qoldingizmi? Unda <a href="/">bu yerga bosing</a>.</p>
</div>
